{% load static %}
<!doctype html>
<head>
    <title>Duvan app service azure cloud</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'favicon.ico' %}">
</head>
<html>
  <body class="bg-dark">
    <main>
      <div class="px-4 py-3 my-2 text-center">
        <img class="d-block mx-auto mb-4" src="https://duvancloud.blob.core.windows.net/prueba/2.png" alt="Azure Logo" width="192" height="192"/>
        <h1 class="display-6 fw-bold text-white">Holaaaaa {{name}}!!!!</h1>
        <p class="fs-5 text-white">
          Es un placer saludarte, ma fren
        </p>
        <a href="{% url 'index' %}" class="btn btn-primary btn-lg px-4 gap-3">Volver atrás</a>
      </div>
    </main>
  </body>
</html>